{{<layout}}

{{$pageTitle}}grid plus{{/pageTitle}}


{{$content}}

<main id="content" role="main">

	<div class="grid-row">

    <div class="column-third" style="background-color:lavender;"><h4> col 4</h4>
      <p>this is just meant to be an example of how to use columns and also in the use of bootstrap so that you can see what impact it has on the screen and in how how you use it this is also an attempt by to do some touch tupeing typing tyong typing and typing and some more typing typig i think that the word typing is a good dood good good one for me to have a go at yping lots of lworkds well we will jhyt jutst just juts ju;ts ju;st jyt just have to see jutst have to see jut just have to see</p>
    </div>

    <div class="column-third" style="background-color:lavenderblush;"><h4> col 4</h4>
      <form class="form-horizontal">
              <div class="form-group">
              <label class="col-sm-4 control-label">input field 1</label>
              <div class="col-sm-4">
                <input class="form-control" id="focusedInput1" type="text">
              </div>
              <label class="col-sm-4 control-label">input field 2</label>
              <div class="col-sm-4">
                <input class="form-control" id="focusedInput1" type="text">
              </div>
            </div>

              <div class="form-group">
               <div class="col-xs-offset-1 col-xs-10">
                  <input class="button" type="submit" value="Place in basket">
                </div>
              </div>
      </form>
    </div>

    <div class="column-third" style="background-color:lavender;"><h4> col 4</h4>
    	<img src="Users/nicholascutting/Documents/Nickdev/img/brompton.jpg" />
      <p>Content</p>
    </div>

  </div>
</main>

{{/content}}

{{/layout}}

