{{<layout}}

{{$pageTitle}}Page 1{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<h1 class="heading-xlarge">Make a payment</h1>
	<p class="lede">You'll need:</p>
  <ul class="list-bullet">
    <li>your repayment letter</li>
    <li>your reference number (at the top of your letter)</li>
    <li>the exact amount you owe</li>
  </ul>
  <a class="button button-start" href="#" role="button">Start now</a>
  <p>
    Contact Department for Work and Pensions (DWP) Debt Management on 0345 850 0293 immediately if you can't make a payment.
  </p>
  <p><strong>Opening times:</strong></p>
	<p>
    Monday to Friday: 8am to 8pm<br>
    Saturday: 9am to 4pm
	</p>
	<h2 class="heading-large">If you don't pay</h2>
	<p>If you don't pay back the money owed the Department for Work and Pensions may recover the money through a <a href="#">debt collection agency</a> or by taking it directly from <a href="#">your wages</a>.</p>
	<h3 class="heading-medium">Recovery from wages</h3>
	<p>DWP may contact your employer to make deductions directly from your wages under a direct earnings attachment</p>
	<h3 class="heading-medium">Recovery through debt collection agency</h3>
	<p>DWP may pass your case to an independent debt collector if you haven’t paid back the money you owe.</p>
  
</main>

{{/content}}

{{/layout}}

