{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<style>
  #text2 {display:none;}
  .red {color:red;}
  #text4 img {width:320px; height:auto;}
</style>

<main id="content" role="main">

	<h1 class="heading-xlarge">jQuery examples</h1>

  <div>
    <h2 class="heading-large">Alert box</h2>
    <a id="alert-btn" class="button" href="#">Alert button</a>
  </div>

  <h2 class="heading-large">Text 1</h2>
	<div id="text1">
    <p>Proin tempus urna nec ullamcorper maximus. Proin varius orci ut rhoncus volutpat. Vivamus cursus mollis nibh. Pellentesque non turpis laoreet, euismod arcu at, feugiat purus. Ut congue vulputate facilisis. Sed a nisl a arcu finibus suscipit imperdiet in leo. Nulla aliquam nulla vitae mauris dictum semper sit amet et nibh. Sed at vestibulum risus, sed luctus lacus. Sed sit amet dignissim dolor. Proin dignissim velit sit amet massa imperdiet posuere. Nulla malesuada felis sed justo hendrerit, a iaculis arcu hendrerit. Pellentesque ut elit nisl.</p>
  </div>
  <a id="text1-btn" class="button" href="#">Hide text 1 paragraph</a>

  <div>
    <h2 class="heading-large">Text 2</h2>
    <div id="text2">
      <p>Morbi porttitor posuere diam ac malesuada. Maecenas vel euismod ipsum. Curabitur et neque sed lacus hendrerit finibus. Pellentesque quis malesuada ipsum. Etiam porttitor nisl egestas orci facilisis euismod. Donec sit amet arcu blandit, ultricies odio eget, egestas ex. Nulla arcu dui, pellentesque eu convallis in, egestas in nulla. Nulla gravida, dui non fermentum posuere, magna tortor malesuada eros, vitae sollicitudin arcu quam ac est. Nullam vulputate, sem et imperdiet posuere, justo orci efficitur quam, id pretium turpis justo eu turpis. Ut accumsan massa libero, eget efficitur ligula posuere vel. Donec eleifend ante eu arcu consectetur, vel tincidunt mauris dignissim.</p>
    </div>
    <a id="text2-btn" class="button" href="#">Show text 2 paragraph</a>
  </div>

    <h2 class="heading-large">Text 3</h2>
  	<div id="text3">
      <p>Curabitur nibh nibh, tempus non porttitor at, posuere id sem. Aenean tristique ex id ipsum sagittis laoreet. Morbi et scelerisque risus. Integer a diam nec metus rhoncus dignissim eu et lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris lobortis pretium tortor ac luctus. Integer erat nulla, tristique in consequat imperdiet, dignissim vel leo. Maecenas ipsum ligula, volutpat et diam vel, imperdiet tincidunt neque. Fusce elementum nibh non orci luctus, sit amet volutpat dolor condimentum. Fusce vitae massa quis elit tincidunt hendrerit. Integer sit amet nunc ex.</p>
    </div>
    <a id="text3-btn" class="button" href="#">Make text 3 paragraph red</a>


    <h2 class="heading-large">Hover over the image</h2>
  	<div id="text4">
      <img src="/public/images/img.jpg" alt="Image">
    </div>

		<h2 class="heading-large">Text 5</h2>
		<div id="text5">
			<p>Ut eleifend magna eu orci posuere sodales. Maecenas nisi lacus, varius ac pellentesque et, tempor ac purus. Aliquam fermentum molestie magna eu pharetra.</p>
		</div>
		<textarea id="textarea" name="textarea"></textarea>
		<a id="text5-btn" class="button" href="#">this text</a>

</main>

{{/content}}

{{/layout}}
